<%- include('partials/html-start.ejs') %>

    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-dark m-3" style="color:white;">
              <h4 class="card-title" style="text-align: center;">First and Last Name</h4>
              <div class="card-body">
                <form action="/submit_form" method="post">
                    <label for="fname">First Name: </label>
                    <input type="text" id="fname" name="fname" placeholder="First Name"><br><br>
                    <label for="lname">Last Name: </label>
                    <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>
                    <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
            <div class="card m-3 bg-dark" style="color:white;">
              <h4 class="card-title" style="text-align: center;">Username and Password</h4>
              <div class="card-body">
                <form action="/edit_user" method="post">
                    <label for="uname">Username: </label>
                    <input type="text" id="uname" name="uname" placeholder="Username"><br><br>
                    <label type="password">Password: </label>
                    <input type="password" id="pword" name="pword" placeholder="Password"><br><br>
                    <label type="password">Repeat Password: </label>
                    <input type="password" id="rpword" name=rpword placeholder="Repeat Password"><br><br>
                    <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
            <div class="col-sm-4">
                <div class="card bg-dark m-3" style="color:white;">
                  <h4 class="card-title" style="text-align: center;">Personal Information</h4>
                  <div class="card-body">
                    <form action="/submit_form" method="post">
                        <label for="email">Email: </label>
                        <input type="email" id="email" name="email" placeholder="Email"><br><br>
                        <label for="address">Address:</label>
                        <input type="address" id="add" name="add" placeholder="Address"><br><br>
                        <label for="phone">Phone Number:</label>
                        <input type="phone" id="phone" name="phone" placeholder="xxx-xxx-xxxx"><br><br>
                        <input type="file" name="id"><br>
                        <input type="submit" value="Submit">
                    </form>
                  </div>
                </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-dark m-4" style="color:white;">
              <h4 class="card-title" style="text-align: center;">Card Information</h4>
              <div class="card-body">
                <form action="/submit_form" method="post">
                    <label for="cnum">Card Number: </label>
                    <input type="numeric" id="cnum" name="cnum" placeholder="xxxx-xxxx-xxxx-xxxx"><br><br>
                    <label for="cname">Card Name: </label>
                    <input type="text" id="cname" name="cname" placeholder="Name on Card"><br><br>
                    <label for="cvv">CVV: </label>
                    <input type="password" id="cvv" name="cvv" placeholder="xxx"><br><br>
                    <label for="exp-date">Expiration Date: </label>
                    <input type="month" id="exp-date" name="exp-date"><br><br>
                    <label for="lname">Zipcode: </label>
                    <input type="numeric" id="zip" name="zip" placeholder="xxxxx"><br><br>
                    <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-dark m-4" style="color:white;">
              <h4 class="card-title" style="text-align: center;">Membership Option</h4>
              <div class="card-body">
                <form action="/submit_form" method="post">
                    <input type="radio" id="month1" name="membership" value="1 Month">
                    <label for="month1">1 Month</label><br><br>
                    <input type="radio" id="month3" name="membership" value="3 Months">
                    <label for="month3">3 Months</label><br><br>
                    <input type="radio" id="month6" name="membership" value="6 Months">
                    <label for="month6">6 Months</label><br><br>
                    <input type="radio" id="year1" name="membership" value="1 Year">
                    <label for="year1">1 Year</label><br><br>
                    <input type="checkbox" id="notfiy" name="notifications" value="emailnotify">
                    <label for="notify">Emails regarding membership status?</label><br><br>
                    <input type="radio" id="s-f1" name="single-family" value="single">
                    <label for="single-family">Single</label><br><br>
                    <input type="radio" id="s-f2" name="single-family" value="family">
                    <label for="single-family">Family</label><br>
                </form>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
            <div class="card bg-dark m-4" style="color:white;">
                <h4 class="card-title" style="text-align: center;">Membership Duration</h4>
                <div class="card-body">
                    <p>Your Membership will be active until:</p>
                    <p>You have _____ months and _____ days left until membership expires.</p>
                </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary">Save Account</button>
        <button type="button" class="btn btn-outline-danger">Delete Account</button>
    </div>
    <%- include('partials/html-end.ejs') %>