<%- include('partials/html-start.ejs') %>
    <div class="row">
      <div class="card col-sm-5">
         <div class="container-fluid" id="index">
           <h5 class="index">About Clark's</h5>
           <p>Clark's Gym is a fitness center located in Pulaski, TN and Lawrenceburg, TN. 
            We are open 24 hours a day, 7 days a week to meet all of your fitness needs.
            Clark's Gym offers multiple fitness classes hosted by the best instructors.
            We also have personal trainers on-site that will help you grow stronger and get fit!
            We offer different memberships to fit your needs.</p>
            <br>
            <p>Give us a call at (555) 555-5555 during normal business hours to answer any questions or gather more information.</p>
         </div>
      </div>
      <div class="card col-sm-5">
         <div class="container-fluid" id="index">
            <h5 class="index">Reviews</h5>
          <% for (var i=0; i< reviews.length; i++) { %>
            <hr>
                <h5><%= reviews[i].name %></h5>
                <p><%= reviews[i].review %></p>
           <% } %>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-sm-5">
        <div class="container-fluid">
          <h5 class="index">Membership Pricing - Single</h5>
          <table class="styled-table">
            <tbody>
              <tr>
                <th>Duration</th>
                <th>Price</th>
              </tr>
              <tr>
                <td>1 Month</td>
                <td>$45</td>
              </tr>
              <tr>
                <td>3 Months</td>
                <td>$115</td>
              </tr>
              <tr>
                <td>6 Months</td>
                <td>$200</td>
              </tr>
              <tr>
                <td>1 Year</td>
                <td>$300</td>
              </tr>
            </tbody>
          </table>
          <a href="/signup"><button type="submit" class="btn btn-outline-primary">Sign Up Now!</button></a>
        </div>
      </div>
      <div class="card col-sm-5">
        <div class="container-fluid">
          <h5 class="index">Membership Pricing - Family</h5>
          <table class="styled-table">
            <tbody>
              <th>Duration</th>
                <th>Price</th>
              </tr>
              <tr>
                <td>1 Month</td>
                <td>$60</td>
              </tr>
              <tr>
                <td>3 Months</td>
                <td>$130</td>
              </tr>
              <tr>
                <td>6 Months</td>
                <td>$230</td>
              </tr>
              <tr>
                <td>1 Year</td>
                <td>$400</td>
              </tr>
            </tbody>
          </table>
          <a href="/signup">
            <button type="submit" class="btn btn-outline-primary">Sign Up Now!</button>
        </a>
        </div>        
      </div>
     </div>

     <%- include('partials/html-end.ejs') %>