<%- include('partials/html-start.ejs') %>

    <div class="row">
        <div class="card col-sm-4">
            <div class="container">
                    <div class="container">
                        <form method="post" action="/loginCheck">
                            <br>
                        <label for="userName"><h5>Username</h5></label> <br>
                        <input type="text" placeholder="Enter Username" name="userName" required>
         
                        <br>
                        <br>
            
                        <label for="password"><h5>Password</h5></label> <br>
                        <input type="password" placeholder="Enter Password" name="password" required>
         
                        <br>
                        <br>
                        
                        
                        <button type="submit" class="btn btn-outline-primary" formaction="/loginCheck">Login</button> 
                        
                        <!-- <a href="/members">
                        <button type="sumbit" class="btn btn-outline-info" >Employees</button>
                        </a> -->
                        </form>
                    </div>
                    <br>
                    <br>
                <p>Not a Member?
                    <a href="/signup">Sign Up</a>
                </p>
            </div>
        </div>
    </div>


    <%- include('partials/html-end.ejs') %>