<%- include('partials/html-start.ejs') %>


  <table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Type</th>
            <th>Sign Up Date</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alice</td>
            <td>Family</td>
            <td>11/19/2023</td>
            <td>1 Month</td>
        </tr>
        <tr>
            <td>Bob</td>
            <td>Single</td>
            <td>12/09/2022</td>
            <td>1 Year</td>
        </tr>
        <tr>
            <td>Carol</td>
            <td>Family</td>
            <td>10/23/2023</td>
            <td>6 Months</td>
        </tr>
    </tbody>
</table>
<%- include('partials/html-end.ejs') %>