<%- include('partials/html-start.ejs') %>
    <div class="card-container">
      <% for (var i=0; i< reviews.length; i++) { %>
         <hr>
         <div class="card">
             <h3><%= reviews[i].name %></h3>
             <p><%= reviews[i].review %></p>
         </div>
      	<% } %>

      <div class="card" id="reviewForm">
         <h5>Leave a Review</h5>
      <form action="/addReview" method="post">
      <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"></input><br>
      <label for="review">Review:</label><br>
      <textarea id="text" name="review" rows="4" cols="50"></textarea>
      <br>
      <button class="btn btn-primary" value="submit">Submit Review</button>
      </form>
      </div>
      </div>
      <%- include('partials/html-end.ejs') %>