<%- include('partials/html-start.ejs') %>
    <div class="card-container">
        <div class="card">
           <h6>John Doe</h6>
           <p>The gym is always clean and everything is put away that is not in use.</p>
           <p>I would recommend this gym to everyone</p>
        </div>
        <br>
        <br>
        <div class="card">
           <h6>Jane Doe</h6>
           <p>The gym is never too crowded so I can get my workout done quick</p>
        </div>
        <br>
        <br>
        <div class="card">
           <h6>Customer</h6>
           <p>The classes are easy to sign up for and are very fun to take.</p>
        </div>
       </div>
       <br>
       <br>

      <div class="card" id="reviewForm">
         <h5>Leave a Review</h5>
      <form action="/addReview" method="post">
      <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"></input><br>
      <label for="review">Review:</label><br>
      <textarea id="text" name="review" rows="4" cols="50"></textarea>
      <br>
      <button class="btn btn-primary" value="submit">Submit Review</button>
      </form>
      </div>
      </div>
      <%- include('partials/html-end.ejs') %>