<%- include('partials/html-start.ejs') %>

<table>
<thead>
    <tr>
        <th>Class</th>
        <th>Day</th>
        <th>Time</th>
        <th>Instructor</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Pilates</td>
        <td>Monday</td>
        <td>7:00 AM</td>
        <td>Alice</td>
    </tr>
    <tr>
        <td>Zumba</td>
        <td>Wednesday</td>
        <td>6:00 PM</td>
        <td>Bob</td>
    </tr>
    <tr>
        <td>Yoga</td>
        <td>Friday</td>
        <td>9:00 AM</td>
        <td>Carol</td>
    </tr>
</tbody>
</table>
<%- include('partials/html-end.ejs') %>