<%- include('partials/html-start.ejs') %>
<div class="row">
    <div class="card col-sm-5">
        <div class="container">
            <h2>Sign Up</h2>
            <form action="/signupNew" method="POST">
                <div class="container">
                    <label for="name"><h5>Name</h5></label> <br>
                    <input type="text" placeholder="Enter Full Name" name="name" required>

                    <br>
                    <br>

                    <label for="userName"><h5>Username</h5></label> <br>
                    <input type="text" placeholder="Enter Username" name="userName" required>
 
                    <br>
                    <br>
    
                    <label for="password"><h5>Password</h5></label> <br>
                    <input type="password" placeholder="Enter Password" name="password" required>
 
                    <br>
                    <br>

                    <label for="password2"><h5>Confirm Password</h5></label> <br>
                    <input type="password" placeholder="Confirm Password" name="password2" required>

                    <br>
                    <br>
                </div>
        </div>
    </div>


    <div class="card col-sm-5">
        <div class="container">
                <h2>Sign Up</h2>

                <div class="container">
                    <label for="email"><h5>Email</h5></label> <br>
                    <input type="email" placeholder="Enter Email" name="email" required>

                    <br>
                    <br>

                    <label for="address"><h5>Address</h5></label> <br>
                    <input type="address" placeholder="Enter Address" name="address" required>

                    <br>   
                    <br>

                    <h5>Membership Option</h5>
                    <input type="radio" id="month1" name="membership" value="1 Month">
                    <label for="membership">1 Month</label><br>
                    <input type="radio" id="month3" name="membership" value="3 Months">
                    <label for="membership">3 Months</label><br>
                    <input type="radio" id="month6" name="membership" value="6 Months">
                    <label for="membership">6 Months</label><br>
                    <input type="radio" id="year1" name="membership" value="1 Year">
                    <label for="membership">1 Year</label><br>
                </div>
            
        </div>
    </div>
</div>
<br>

<button type="submit" class="btn btn-outline-primary">Sign Up</button>
</form>
<br>
<br>
<h3>Please give payment information to employee on your first visit.</h3>
<%- include('partials/html-end.ejs') %>