.index {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;

}

#index {
    justify-content: center;
    font-size: 15px;
}

nav{
    font-size: 20px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 25px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #da0303;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #da0303;
}

#accmgt{
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
    font-size: 25px;
    color: white;
}

#view{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: black;
}

#clark{
    text-align: center;
}

#reviewForm{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: rgb(85, 85, 85);
    color: white;
}